body{
        font-family: Helvetica, sans-serif;
        background-color: #eee;
      
    }
    
header{
        height: auto;
        padding: 3% 3% 4%;
        border-bottom: 0.1em solid #ccc;
        margin-top: -3%;
        background-color: #fff;
        
   
    
}
    
#first{
        float: left;
        margin-left: 10%;
        padding: 0% 1% 3%;
}

#second{
        float: left;
        margin-right: 70%;
        padding: 0% 0% 3%;
}

#buscar{
        float:right;
        margin-top: -6%;
        margin-right:39%;
}

#third{
        float: right;
        margin-right:10%;
        margin-top: -6%;
        padding: 0% 0% 3%;
}

#bot{
        margin-left: 50%;
        margin-right: 50%;
        padding:1.5%;
        border-radius: 2em;
}

#bot:hover{
        background-color: #232323;
        color:#fff;
}